<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Document</title>
</head>

<body class="container">
    <div class="d-flex justify-content-between">
        <div><h1>Gestión de Posts</h1></div>
        <div><button id="btn-logout" class="btn btn-danger d-none">Salir</button></div>
    </div>
    

    <div class="d-flex justify-content-center">
        <div class="col-4" id="content-login">
            <h3>Login</h3>
            <form>
                <div class="mb-3">
                    <label for="txt-username" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="txt-username">
                    <div id="error-username" class="error-message form-text text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="txt-password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="txt-password">
                    <div id="error-password" class="error-message form-text text-danger"></div>
                </div>
                <button id="btn-submit" type="submit" class="btn btn-primary">Ingresar</button>
            </form>

            <div id="message-error" class="alert alert-danger mt-3 d-none" role="alert">
                
              </div>
        </div>

        <div class="col-3 d-none logged">
            <h3>Registro de Post</h3>
            <form>
                <div class="mb-3">
                    <label for="txt-title" class="form-label">Título</label>
                    <input type="text" class="form-control" id="txt-title">
                    <div id="error-title" class="error-message form-text text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="txt-content" class="form-label">Contenido</label>
                    <textarea class="form-control" id="txt-content"></textarea>
                    <div id="error-content" class="error-message form-text text-danger"></div>
                </div>
                <button id="btn-register" type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>

        <div class="col-9 d-none logged ps-4">
            <h3>Listado de Posts</h3>
            <table id="table-posts" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id.</th>
                        <th>Título</th>
                        <th>Contenido</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/js/main.js"></script>
</body>

</html>